.content-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-wrapper {
  width: 49%;
  margin-right: 1%;
  margin-bottom: 1%;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}